<a href="https://colab.research.google.com/github/abasnezhad/Kaggle/blob/main/120_years_of_Olympic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
dfa= pd.read_csv('athlete_events.csv')
dfr=pd.read_csv('noc_regions.csv')

In [8]:
dfa.sample(3)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
146801,73687,Luigi Maiocco,M,19.0,NaN,NaN,Italy,ITA,1912 Summer,1912,Summer,Stockholm,Gymnastics,Gymnastics Men's Team All-Around,Gold
161631,81143,Juan Manuel Molina Morote,M,29.0,173.0,67.0,Spain,ESP,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's 20 kilometres Walk,NaN
205791,103294,Nils Rudolph,M,26.0,195.0,87.0,Germany,GER,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Men's 50 metres Freestyle,NaN

In [10]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [12]:
dfa.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [ ]:
# merging 2 dfs
combined= pd.merge( )